.HardSkills{
  width: 100%;
  padding-top: 10px
}

.hardSkills-title {
  text-align: center;
}

.skills {
  width: 80%;
  margin: 20px auto;
}

.skills ul {
  margin: 20px 0;
}

.skills ul li {
  margin-left: 30px;
  font-size: 1.4em;
  letter-spacing: 2px;
}

@media screen and (min-width:860px) {
  .HardSkills {
    padding-top: 60px
  }
}