header {
  padding-left: 20px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023e7d;
}

.textLogo {
  color: #fff;
}

@media screen and (min-width:861px){
  .textLogo {
    font-size: 3.1em;
  }
}