header {
  padding-left: 20px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2845;
  box-shadow: 0 1px 1.5em #23232b;
}

.textLogo {
  color: #fff;
}

h1.textLogo {
  font-family: 'Radley';
}

@media screen and (min-width:861px){
  .textLogo {
    font-size: 3.1em;
  }
}