.menu-options a {
  color: #ebf2fa;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 20px
}

.menu-options a:active {
  color: #95c0f1;
}

.icon {
  width: 30px;
  height: 30px;
}

a.activated {
  color: #95c0f1;
  text-decoration:underline
}

@media screen and (min-width:861px){
  nav {
    display: flex;
    align-items: center;
  }

  .social-network-links {
    order: 0;
    margin-right: 5px;
  }

  .menu-options > a {
    order: 1;
    font-size: 1.5em;
  }
}

@media screen and (max-width:860px) {
  nav {
    position: fixed;
    top: 0px;
    background-color: #001233;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    transition: .5s ease-in-out;
    align-content: flex-start;
  }

  .menu-options {
    margin-right: 0;  
  }

  .menu-options a {
    font-size:1.5em;
    margin-bottom: 30px;
  }

  .social-network-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 5vh;
  }

  .social-network-links a {
    text-align: center;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .close-menu {
    right: -100%;
  }

  .open-menu {
    right: 0;
  }
}

@media screen and (max-height:350px) {
  .social-network-links {
    bottom: 0;
  }

  .social-network-links a {
    bottom: 0;
    margin-bottom: 0;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}


