*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Libre_Baskerville';
  color: #262e4b;
  
}


textarea, 
textarea:focus, 
input,
input:focus, 
select, 
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

button,
button:hover, 
button:focus, 
button:acitive {
  background-color: none;
  border: none
}

.button {
  background-color: #1B2845;
  text-decoration: none;
  padding: 0.3em 1em;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:hover,
.button:focus{
  background-color: #3d60ac;
}

@font-face {
  font-family: 'Radley';
  src: url('./fonts/Radley/Radley-Regular.ttf')
}

@font-face {
  font-family: 'Libre_Baskerville';
  src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.5em;
}

body {
  background: linear-gradient(45deg, #db3069, #f5d547, #ebebd3, #0A81FF, #494948);
  background-size:300% 500%;
  animation: backgroundGradient 15s ease infinite;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}